<section class="container mx-auto">
  <div class="sm:flex sm:items-center sm:justify-between">
    <div>
      <p class="mt-1 text-sm text-gray-500">
        These are the customers that you can track your time against.
      </p>
    </div>
  </div>

  <div class="mt-6 md:flex md:items-end md:justify-between">
    <app-search-input (search)="search($event)" />

    <div class="mt-4 flex items-center gap-x-3">
      <a
        routerLink="new"
        app-button
        class="flex shrink-0 items-center justify-center gap-x-2">
        <app-plus-icon /> Add customer
      </a>
    </div>
  </div>

  <app-table
    [loading]="loading"
    [objects]="customers"
    [headers]="tableHeaders"
    [headerTemplate]="headerTemplate"
    [itemTemplate]="itemTemplate" />

  <ng-template #headerTemplate let-header>
    <ng-container [ngSwitch]="header.fieldName">
      <span *ngSwitchDefault>{{ header.displayName }}</span>
    </ng-container>
  </ng-template>

  <ng-template #itemTemplate let-customer let-header="header">
    <ng-container [ngSwitch]="header.fieldName">
      <div *ngSwitchCase="'actions'">
        <button
          app-button
          [color]="ButtonColor.Default"
          [routerLink]="customer.id + '/edit'">
          Edit
        </button>
      </div>
      <div
        class="text-emerald-500 bg-emerald-100/60 inline rounded-full py-1 text-sm font-normal"
        *ngSwitchDefault>
        {{ customer[header.fieldName] }}
      </div>
    </ng-container>
  </ng-template>

  <app-pagination
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [totalCount]="totalCount"
    (previousPage)="previousPage()"
    (nextPage)="nextPage()" />
</section>
