<section class="container mx-auto">
  <div class="sm:flex sm:items-center sm:justify-between">
    <div>
      <p class="mt-1 text-sm text-gray-500">
        These are the customers that you can track your time against.
      </p>
    </div>
  </div>

  <div class="mt-6 md:flex md:items-end md:justify-between">
    <div class="relative mt-4 flex items-center md:mt-0">
      <span class="absolute">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="mx-3 h-5 w-5 text-gray-400 dark:text-gray-600">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
      </span>

      <input
        type="text"
        placeholder="Search"
        (change)="search($event)"
        class="block w-full rounded-lg border border-gray-200 bg-white py-1.5 pl-11 pr-5 text-gray-700 placeholder-gray-400/70 focus:border-lavender-400 focus:outline-none focus:ring focus:ring-lavender-300 focus:ring-opacity-40 rtl:pl-5 rtl:pr-11 md:w-80" />
    </div>

    <div class="mt-4 flex items-center gap-x-3">
      <a
        routerLink="new"
        app-button
        class="flex shrink-0 items-center justify-center gap-x-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-5 w-5">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" /></svg
        >Add customer
      </a>
    </div>
  </div>

  <app-table
    [loading]="loading"
    [objects]="customers"
    [headers]="tableHeaders"
    [headerTemplate]="headerTemplate"
    [itemTemplate]="itemTemplate" />

  <ng-template #headerTemplate let-header>
    <ng-container [ngSwitch]="header.fieldName">
      <span *ngSwitchDefault>{{ header.displayName }}</span>
    </ng-container>
  </ng-template>

  <ng-template #itemTemplate let-customer let-header="header">
    <ng-container [ngSwitch]="header.fieldName">
      <div *ngSwitchCase="'actions'">
        <button
          app-button
          [color]="ButtonColor.Default"
          [routerLink]="customer.id + '/edit'">
          Edit
        </button>
      </div>
      <div
        class="text-emerald-500 bg-emerald-100/60 inline rounded-full py-1 text-sm font-normal"
        *ngSwitchDefault>
        {{ customer[header.fieldName] }}
      </div>
    </ng-container>
  </ng-template>

  <app-pagination
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [totalCount]="totalCount"
    (previousPage)="previousPage()"
    (nextPage)="nextPage()" />
</section>
