<div
  class="absolute left-0 top-0 z-40 flex h-full w-full bg-black/40 transition-opacity transition-visibility ease-linear"
  [ngClass]="{ 'opacity-1 visible': isOpen, 'invisible opacity-0': !isOpen }">
  <div
    class="fixed inset-0 z-10 overflow-y-auto"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true">
    <div
      class="flex min-h-screen items-end justify-center px-4 pb-20 pt-4 text-center sm:block sm:p-0">
      <span
        class="hidden sm:inline-block sm:h-screen sm:align-middle"
        aria-hidden="true"
        >&#8203;</span
      >
      <div
        class="relative inline-block transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left align-bottom shadow-xl transition-all rtl:text-right sm:my-8 sm:w-full sm:max-w-sm sm:p-6 sm:align-middle">
        <div>
          <div class="mt-2 text-center">
            <h3
              class="text-lg font-medium capitalize leading-6 text-gray-800"
              id="modal-title">
              {{ heading }}
            </h3>
            <p class="mt-2 text-sm text-gray-500">
              {{ message }}
            </p>
          </div>
        </div>

        <div class="mt-5 sm:flex sm:items-center sm:justify-between">
          <div class="sm:flex sm:items-center">
            <button app-button [color]="ButtonColor.Danger" (click)="cancel()">
              {{ cancelButtonText }}
            </button>

            <button
              app-button
              [color]="ButtonColor.Default"
              class="!ml-4"
              (click)="confirm()">
              {{ confirmButtonText }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
