<section class="container mx-auto">
  <div class="sm:flex sm:items-center sm:justify-between">
    <div>
      <p class="mt-1 text-sm text-gray-500">
        Fill in the form to add a new customer.
      </p>
    </div>
  </div>

  <div class="mt-6 md:flex md:items-end md:justify-between">
    <form #form="ngForm" (submit)="onSubmit()">
      <div class="overflow-hidden shadow sm:rounded-md">
        <div class="bg-white px-4 py-5 sm:p-6">
          <div class="grid w-96 grid-cols-6 gap-6">
            <app-form-field class="col-span-6 mt-2">
              <app-label>Name</app-label>
              <input
                appInput
                type="text"
                id="name"
                name="name"
                placeholder="e.g. Test customer"
                required
                #nameField="ngModel"
                [(ngModel)]="model.name" />
              <app-error *ngIf="nameField.invalid && nameField.touched"
                >Name cannot be empty</app-error
              >
              <app-error *ngFor="let error of errorsForField('Name')">{{
                error
              }}</app-error>
            </app-form-field>
            <app-form-field class="col-span-6 mt-2">
              <app-label>Number</app-label>
              <input
                appInput
                type="text"
                id="number"
                name="number"
                placeholder="e.g. 123456"
                required
                #numberField="ngModel"
                [(ngModel)]="model.number" />
              <app-error *ngIf="numberField.invalid && numberField.touched"
                >Number cannot be empty</app-error
              >
              <app-error *ngFor="let error of errorsForField('Number')">{{
                error
              }}</app-error>
            </app-form-field>
            <div class="col-span-6 sm:col-span-6">
              <label class="block text-sm font-medium leading-6 text-gray-900"
                >Activities</label
              >
              <ng-container ngModelGroup="activities">
                <ng-container
                  *ngFor="
                    let activityForm of model.activities;
                    let index = index
                  "
                  [ngModelGroup]="activityForm.id"
                  #activityForm1="ngModelGroup">
                  <div class="mt-4 block w-full">
                    <app-form-field class="w-full">
                      <div class="flex items-center">
                        <input
                          appInput
                          type="text"
                          [id]="'activityName_' + index"
                          name="'activityName_' + index"
                          placeholder="Name"
                          required
                          [(ngModel)]="activityForm.name"
                          class="!mt-0" />
                        <button
                          app-button
                          [color]="ButtonColor.Danger"
                          type="button"
                          (click)="removeActivity(activityForm.id)"
                          class="!ml-4">
                          Remove
                        </button>
                      </div>

                      <app-error
                        *ngIf="activityForm1.invalid && activityForm1.touched"
                        class="basis-full"
                        >Name cannot be empty</app-error
                      >
                      <app-error
                        *ngFor="let error of errorsForField('Name')"
                        class="basis-full"
                        >{{ error }}</app-error
                      >
                    </app-form-field>
                  </div>
                </ng-container>
              </ng-container>
              <button
                app-button
                (click)="addActivity()"
                type="button"
                class="mt-4">
                Add activity
              </button>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
          <button
            app-button
            type="submit"
            [disabled]="form.invalid || loading"
            [loading]="loading">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
