<div
  class="mx-auto mt-8 flex max-w-7xl flex-col rounded-lg border-[1px] border-gray-200 p-6 shadow-md lg:px-8">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-base font-semibold leading-6 text-gray-900">
          Customer information
        </h3>
        <p class="mt-1 text-sm text-gray-600">
          Fill in the form to add a new customer.
        </p>
        <a
          *ngIf="newestCreatedCustomer"
          [routerLink]="'/customers/' + newestCreatedCustomer.id + '/edit'"
          class="mt-4 inline-flex items-center justify-center rounded-md bg-indigo-600 py-2 px-5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
          View customer</a
        >
      </div>
    </div>
    <div class="mt-5 md:col-span-2 md:mt-0">
      <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
        <div class="overflow-hidden shadow sm:rounded-md">
          <div class="bg-white px-4 py-5 sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <app-labeled-input
                name="Name"
                [inputControl]="customerForm.controls.name"
                [isRequired]="true"
                class="col-span-6 mt-2"></app-labeled-input>
              <app-labeled-input
                name="Number"
                [inputControl]="customerForm.controls.number"
                [isRequired]="true"
                class="col-span-6 mt-2"></app-labeled-input>

              <div class="col-span-6 sm:col-span-6">
                <label class="block text-sm font-medium leading-6 text-gray-900"
                  >Activities</label
                >
                <ng-container formArrayName="activities">
                  <ng-container
                    *ngFor="
                      let activityForm of activities.controls;
                      let index = index
                    ">
                    <ng-container [formGroupName]="index">
                      <div class="mt-4 flex w-full items-start justify-center">
                        <app-input
                          [name]="'Name'"
                          [placeholder]="'Name'"
                          [id]="'activityName_' + index"
                          [inputControl]="activityForm"
                          [isRequired]="true"
                          class="mr-4 block w-full"></app-input>
                        <button
                          type="button"
                          (click)="removeActivity(index)"
                          class="inline w-auto justify-center rounded-md bg-red-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-500">
                          Remove
                        </button>
                      </div>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <button
                  type="button"
                  (click)="addActivity()"
                  class="mx-auto mt-4 inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
                  Add activity
                </button>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
            <button
              type="submit"
              [disabled]="customerForm.invalid || loading"
              class="mr-2 inline-flex items-center justify-center rounded-md bg-indigo-600 py-2 px-5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
              <app-spinner-icon
                *ngIf="loading"
                [color]="spinnerIconColor.button"
                [size]="spinnerIconSize.small"
                class="inline-flex items-center"></app-spinner-icon>
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
