<div
  class="mx-auto mt-8 flex max-w-7xl flex-col rounded-lg border-[1px] border-gray-200 p-6 shadow-md lg:px-8">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-base font-semibold leading-6 text-gray-900">
          Customer information
        </h3>
        <p class="mt-1 text-sm text-gray-600">
          Fill in the form to add a new customer.
        </p>
        <a
          *ngIf="newestCreatedCustomer"
          [routerLink]="'/customers/' + newestCreatedCustomer.id + '/edit'"
          class="mt-4 inline-flex items-center justify-center rounded-md bg-indigo-600 py-2 px-5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
          View customer</a
        >
      </div>
    </div>
    <div class="mt-5 md:col-span-2 md:mt-0">
      <form #form="ngForm" (submit)="onSubmit()">
        <div class="overflow-hidden shadow sm:rounded-md">
          <div class="bg-white px-4 py-5 sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <app-labeled-input
                name="Name"
                [(value)]="model.name"
                [serverValidationFailed]="hasError && containsError('Name')"
                [serverValidationErrors]="errorsForField('Name')"
                [isRequired]="true"
                class="col-span-6 mt-2"></app-labeled-input>
              <app-labeled-input
                name="Number"
                [(value)]="model.number"
                [serverValidationFailed]="hasError && containsError('Number')"
                [serverValidationErrors]="errorsForField('Number')"
                [isRequired]="true"
                class="col-span-6 mt-2"></app-labeled-input>

              <div class="col-span-6 sm:col-span-6">
                <label class="block text-sm font-medium leading-6 text-gray-900"
                  >Activities</label
                >
                <ng-container ngModelGroup="activities">
                  <ng-container
                    *ngFor="
                      let activityForm of model.activities;
                      let index = index
                    ">
                    <div class="mt-4 flex w-full items-start justify-center">
                      <app-input
                        [name]="'activityName_' + index"
                        [placeholder]="'Name'"
                        [id]="'activityName_' + index"
                        [(value)]="activityForm.name"
                        [isRequired]="true"
                        [serverValidationFailed]="
                          hasError && containsError('Name')
                        "
                        [serverValidationErrors]="errorsForField('Name')"
                        class="mr-4 block w-full"></app-input>
                      <app-button-accent
                        type="button"
                        text="Remove"
                        (clickEvent)="
                          removeActivity(activityForm.id)
                        "></app-button-accent>
                    </div>
                  </ng-container>
                </ng-container>
                <app-button-primary
                  type="button"
                  text="Add activity"
                  (clickEvent)="addActivity()"
                  class="mt-4"></app-button-primary>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
            <app-button-primary
              type="submit"
              [disabled]="form.invalid || loading"
              text="Save"
              [loading]="loading"></app-button-primary>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
