<div
  class="mx-auto mt-8 flex max-w-7xl flex-col rounded-lg border-[1px] border-gray-200 p-6 shadow-md lg:px-8">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-base font-semibold leading-6 text-gray-900">
          Customer information
        </h3>
        <p class="mt-1 text-sm text-gray-600">
          Fill in the form to add a new customer.
        </p>
      </div>
    </div>
    <div class="mt-5 md:col-span-2 md:mt-0">
      <form #form="ngForm" (submit)="onSubmit()">
        <div class="overflow-hidden shadow sm:rounded-md">
          <div class="bg-white px-4 py-5 sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <!--              <app-labeled-input-->
              <!--                name="Name"-->
              <!--                [(value)]="formModel.name"-->
              <!--                [isRequired]="true"-->
              <!--                class="col-span-6 mt-2"></app-labeled-input>-->
              <!--              <app-labeled-input-->
              <!--                name="Number"-->
              <!--                [value]="formModel.number"-->
              <!--                [isRequired]="true"-->
              <!--                class="col-span-6 mt-2"></app-labeled-input>-->
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
            <!--            <app-button-primary-->
            <!--              type="submit"-->
            <!--              [disabled]="form.invalid || loadingUpdate"-->
            <!--              text="Update"-->
            <!--              [loading]="loadingUpdate"></app-button-primary>-->
            <!--            <app-button-accent-->
            <!--              type="button"-->
            <!--              text="Delete"-->
            <!--              [loading]="loadingDelete"-->
            <!--              (clickEvent)="onDelete()"-->
            <!--              class="ml-4">-->
            <!--            </app-button-accent>-->
          </div>
        </div>
      </form>
    </div>
    <div class="col-span-3 h-0.5 bg-gray-200"></div>
    <div class="col-span-3">
      <div class="flex flex-row items-end justify-between">
        <div class="">
          <h2 class="py-2 font-semibold">Activities</h2>
          <p>A list of activities for the customer.</p>
        </div>
        <div class="">
          <a
            [routerLink]="'/customers/' + customer.id + '/activity/new'"
            class="bg-indigo-600 rounded-md p-2 text-sm font-semibold leading-6 text-white"
            >Add activity</a
          >
        </div>
      </div>
      <div class="sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
          <div class="overflow-x-auto">
            <table class="min-w-full text-left text-sm font-light">
              <thead class="dark:border-neutral-500 border-b font-medium">
                <tr>
                  <th scope="col" class="px-6 py-4">Name</th>
                  <th scope="col" class="px-6 py-4">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  class="dark:border-neutral-500 border-b"
                  *ngFor="let activity of customer.activities">
                  <td class="whitespace-nowrap px-6 py-4 font-medium">
                    {{ activity.name }}
                  </td>
                  <td class="whitespace-nowrap px-6 py-4">
                    <a
                      [routerLink]="
                        '/customers/' +
                        customer.id +
                        '/activity/' +
                        activity.id +
                        '/edit'
                      "
                      class="bg-indigo-600 rounded-md p-2 text-sm font-semibold leading-6 text-white"
                      >Edit</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
