<section class="container mx-auto">
  <div class="sm:flex sm:items-start sm:justify-start">
    <div>
      <p class="mt-1 text-sm text-gray-500">Edit the customer information.</p>
    </div>
  </div>

  <div class="mt-6 gap-4 md:flex md:items-start md:justify-start">
    <form #form="ngForm" (submit)="onSubmit()">
      <div class="overflow-hidden shadow sm:rounded-md">
        <div class="bg-white px-4 py-5 sm:p-6">
          <div class="grid w-96 grid-cols-6 gap-6">
            <app-form-field class="col-span-6 mt-2">
              <app-label>Name</app-label>
              <input
                appInput
                type="text"
                id="name"
                name="name"
                placeholder="e.g. Test customer"
                required
                #nameField="ngModel"
                [(ngModel)]="model.name" />
              <app-error *ngIf="nameField.invalid && nameField.touched"
                >Name cannot be empty</app-error
              >
              <app-error *ngFor="let error of errorsForField('Name')">{{
                error
              }}</app-error>
            </app-form-field>
            <app-form-field class="col-span-6 mt-2">
              <app-label>Number</app-label>
              <input
                appInput
                type="text"
                id="number"
                name="number"
                placeholder="e.g. 123456"
                required
                #numberField="ngModel"
                [(ngModel)]="model.number" />
              <app-error *ngIf="numberField.invalid && numberField.touched"
                >Number cannot be empty</app-error
              >
              <app-error *ngFor="let error of errorsForField('Number')">{{
                error
              }}</app-error>
            </app-form-field>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
          <button
            app-button
            type="submit"
            [disabled]="form.invalid || loadingUpdate"
            [loading]="loadingUpdate">
            Update
          </button>
          <button
            app-button
            [color]="ButtonColor.Danger"
            type="button"
            [loading]="loadingDelete"
            (click)="onDelete()"
            class="!ml-4">
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="mt-6 w-full">
    <div class="flex flex-row items-end justify-between">
      <div class=""></div>
      <div class="">
        <a
          app-button
          [routerLink]="'/customers/' + customer.id + '/activity/new'"
          >Add activity</a
        >
      </div>
    </div>
    <app-table
      [headers]="activitiesTableHeader"
      [objects]="customer.activities"
      [loading]="false"
      [itemTemplate]="itemTemplate" />

    <ng-template #itemTemplate let-activity let-header="header">
      <ng-container [ngSwitch]="header.fieldName">
        <div *ngSwitchCase="'actions'">
          <button
            app-button
            [color]="ButtonColor.Default"
            [routerLink]="
              '/customers/' + customer.id + '/activity/' + activity.id + '/edit'
            ">
            Edit
          </button>
        </div>
        <div *ngSwitchDefault>{{ activity[header.fieldName] }}</div>
      </ng-container>
    </ng-template>
  </div>
</section>
