<div
  class="mx-auto mt-8 flex max-w-7xl flex-col rounded-lg border-[1px] border-gray-200 p-6 shadow-md lg:px-8">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-base font-semibold leading-6 text-gray-900">
          Customer information
        </h3>
        <p class="mt-1 text-sm text-gray-600">
          Fill in the form to add a new customer.
        </p>
      </div>
    </div>
    <div class="mt-5 md:col-span-2 md:mt-0">
      <form action="#" method="POST">
        <div class="overflow-hidden shadow sm:rounded-md">
          <div class="bg-white px-4 py-5 sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-6">
                <label
                  for="name"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Name</label
                >
                <input
                  type="text"
                  name="name"
                  id="name"
                  autocomplete="name"
                  [value]="customer.name"
                  class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
              </div>

              <div class="col-span-6 sm:col-span-6">
                <label
                  for="number"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Number</label
                >
                <input
                  type="text"
                  name="number"
                  id="number"
                  autocomplete="number"
                  [value]="customer.number"
                  class="mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
            <button
              type="submit"
              class="inline-flex justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
              Update
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-span-3 h-0.5 bg-gray-200"></div>
    <div class="col-span-3">
      <div class="flex flex-row items-end justify-between">
        <div class="">
          <h2 class="py-2 font-semibold">Activities</h2>
          <p>A list of activities for the customer.</p>
        </div>
        <div class="">
          <a
            [routerLink]="'/customers/' + customer.id + '/activity/new'"
            class="rounded-md bg-indigo-600 p-2 text-sm font-semibold leading-6 text-white"
            >Add activity</a
          >
        </div>
      </div>
      <div class="sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
          <div class="overflow-x-auto">
            <table class="min-w-full text-left text-sm font-light">
              <thead class="border-b font-medium dark:border-neutral-500">
                <tr>
                  <th scope="col" class="px-6 py-4">Name</th>
                  <th scope="col" class="px-6 py-4">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  class="border-b dark:border-neutral-500"
                  *ngFor="let activity of customer.activities">
                  <td class="whitespace-nowrap px-6 py-4 font-medium">
                    {{ activity.name }}
                  </td>
                  <td class="whitespace-nowrap px-6 py-4">
                    <a
                      [routerLink]="
                        '/customers/' +
                        customer.id +
                        '/activity/' +
                        activity.id +
                        '/edit'
                      "
                      class="rounded-md bg-indigo-600 p-2 text-sm font-semibold leading-6 text-white"
                      >Edit</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
